node_modules/
# .gitignore

# Node.js
node_modules/

# Dependency directories
/jspm_packages/
/bower_components/

# Vue.js
/dist/

client/node_modules/
server/node_modules/
server_temp/node_modules/